In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_donations = pd.read_csv("data/donations.csv")

In [3]:
data_donations.head()

,Received,Contribution (in euro),frequency,resource,personal_ID,company
0,2015-01-02,75.0,once,Geldspende,638222,0
1,2015-01-02,10.0,once,Mitgliedsbeitrag,173442,0
2,2015-01-02,22.5,once,Geldspende,435383,0
3,2015-01-02,50.0,once,Geldspende,638159,0
4,2015-01-02,3.0,once,Mitgliedsbeitrag,173534,0

In [5]:
len(np.unique(data_donations.personal_ID))

4684

In [12]:
len(np.unique(data_donations.query("company!=0").personal_ID))

460